<%= render 'spree/admin/shared/taxes_tabs' %>

<% content_for :page_title do %>
  <%= Spree.t(:taxjar_settings) %>
<% end %>

<%= form_tag admin_taxjar_settings_path, method: :put do %>
  <div id="preferences" data-hook>
    <div class="row">
      <div class="col-md-6">
        <fieldset class="no-border-bottom">
          <% @preferences_api.each do |key| %>
              <div class="form-group">
                <%= label_tag key %>
                <%= render "spree/admin/shared/preference_fields/#{Spree::Config.preference_type(key)}", name: key, value: Spree::Config[key] %>
              </div>
          <% end %>
        </fieldset>
      </div>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t('actions.update') %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_orders_url %>
    </div>
  </div>
<% end %>
